body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
#mental .slider-selection {
  background: rgb(110, 174, 211) ;
}

#physical .slider-selection {
  background: linear-gradient(to bottom, #8ac1ef 0%, #82b3de 100%); ;
}

#temporal .slider-selection {

}

#performance .slider-selection {
  background: green ;
}

#effort .slider-selection {
  background: green ;
}

#frustration .slider-selection {
  background: green ;
}
*/